<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameCompare</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<div class="container">
    <form method="post" action="/">
        {{ form.csrf_token }}

        <div class="row pt-3">
            <div class="col-4 offset-1 d-flex">
                <p class="text-white px-4">{{ form.first_user.label(class="form-label") }}</p>
                {{ form.first_user(class="form-control form-control-sm") }}
            </div>

            <div class="col-2 mx-2 ">
                <input class="form-control form-control-lg" type="submit" value="Compare">
            </div>

            <div class="col-4 d-flex">
                {{ form.second_user(class="form-control form-control-sm") }}
                <p class="text-white px-4">{{ form.second_user.label(class="form-label") }}</p>
            </div>
        </div>

    </form>
</div>

{% for game in first_user_list.games %}
    {% for game2 in second_user_list.games %}
        {% if game.appid == game2.appid %}
            <div class="row d-flex my-2">
                <div class="col-1 offset-3 d-flex justify-content-center " style="text-align: center; alignment: center">
                        <img src="https://cdn.akamai.steamstatic.com/steam/apps/{{ game.appid }}/header.jpg" height="50px" alt="">
                </div>
                <div class="col-8">
                    <p class="" style="font-size: x-large">{{ game.name }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}


</body>
</html>